
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Welcome @HttpContext.Current.User.Identity.Name
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "LogoutForm" }))
    {
        <a href="javascript:document.getElementById('LogoutForm').submit()">Logout</a>
    }
}

